{% extends "base.html" %}      
{% block content %}    

<!-- lap time matrix -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
          <th scope="col">#</th>
        {% for driver in drivers  %}
          <th scope="col">{{ driver }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for lap in lap_matrix %}
        <tr>
        <th scope="row">{{ loop.index }}</th>
          {% for lap_time in lap  %}
            {% if lap_time != None %}
                <td>{{ lap_time }}</td>
            {% else %}
                <td></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>


<!-- Chartjs -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
<div>
  <canvas id="myChart"></canvas>
</div>
</div>

<script type="text/javascript">


// === include 'setup' then 'config' above ===

const labels = [
  {% for lap_num in range(num_of_laps)  %}
    "{{ lap_num + 1 }}",
  {% endfor %}
];

let dynamicColors = function() {
  let r = Math.floor(Math.random() * 255);
  let g = Math.floor(Math.random() * 255);
  let b = Math.floor(Math.random() * 255);
  return "rgb(" + r + "," + g + "," + b + ")";
};

const data = {
  labels: labels,
  datasets: [
  {% for r in lap_class %}
  {
    label: '{{ r.name }}',
    backgroundColor: dynamicColors(),
    data: [{% for lap in r.lap_list %} {% if lap != None %}{{ lap }}, {% endif%}{% endfor %}],
  },
  {% endfor %}
  ]
};

const config = {
  type: 'line',
  data,
  options: {}
};

var myChart = new Chart(
  document.getElementById('myChart'),
  config
);

</script>
{% endblock %}
